body {
  text-align: center;
}

.main-menu {
  position: absolute;
  top: 50px;
  height: 550px;
  width: 550px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-size: 14px;
  font-family: 'MinecraftiaRegular';
}

.main-menu__hero-list,
.main-menu__difficulty-level,
.main-menu__controls {
  width: 100%;
}

div.main-menu__heros {
  display: flex;
}

div.main-menu__hero-avatar {
  width: 25%;
  height: 130px;
}

img.main-menu__hero-avatar {
  opacity: 0.5;
}

img.main-menu__hero-avatar.selected {
  opacity: 1;
}

.invisible {
  display: none !important;
}

input#range {
  width: 50%;
}

ul.main-menu__range-labels {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  padding: 0;
  width: 75%;
}

ul.main-menu__range-labels > li {
  width: 33.3%;
}

.main-menu__start-game {
  height: 50px;
  width: 100px;
  border-radius: 5%;
  background-color: white;
  font-size: 14px;
  font-family: 'MinecraftiaRegular';
}

.lives-top-menu {
  background-color: black;
  top: 12px;
  height: 50px;
  width: 505px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.lives-screen,
.won-screen {
  position: absolute;
  top: 50px;
  height: 550px;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.lives-screen {
  background-color: black;
}

.won-screen {
  background-color: pink;
  color: white;
}

.lives-screen__alive-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
}

.lives-screen__dead-menu {
  position: absolute;
}

.lives-screen__lives-item {
  display: flex;
  flex-direction: row;
}

.lives-top-menu__heart-small {
  width: 50px;
  height: 50px;
}

.lives-screen__heart-big {
  width: 70px;
  height: 70px;
}

.lives-screen__hero {
  width: 101px;
  height: 171px;
}

.lives-screen__x-text,
.lives-screen__game-over,
.won-screen__game-over {
  font-size: 25px;
  color: white;
  font-family: 'MinecraftiaRegular';
}
